@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: auto;
}

#nav1 {
    display: flex;
    justify-content: space-between;
}

#nav {
    margin-right: 100px;
    display: flex;
    justify-content: end;
    padding: 10px;
    margin-top: 35px;
    width: 60%;
    float: right;
}

#nav a {
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#nav a:hover {
    color: rgba(38, 38, 38, 0.707);
    transition: 0.2s;
}

#NAME {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 55px;
    margin-left: 60px;
}

#home {
    background-image: url('images/home.jpeg');
    height: 73vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#homepage {
    height: 73vh;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: space-evenly;
}

#intro {
    margin-top: 22vh;
    padding-top: 5vh;
}

#intr {
    color: white;
    font-size: 33px;
    margin-left: 13vw;
}

#introp {
    color: white;
    font-size: 23px;
    text-wrap: wrap;
    margin-top: 28px;
    margin-left: 14vw;
    width: 30vw;
    text-align: center;
}

#intro-btn {
    margin-top: 30vh;
    margin-right: 15vw;
    padding: 30px;
}

#order-now {
    margin: 10px;
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: coral;
    font-size: 19px;
    border-radius: 3px;
}

#order-now:hover {
    border-radius: 7px;
    background-color: rgba(255, 127, 80, 0.659);
    transition: 0.5s;
}

#reserve-now {
    margin: 10px;
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: coral;
    font-size: 19px;
    border-radius: 3px;
}

#reserve-now:hover {
    border-radius: 7px;
    background-color: rgba(255, 127, 80, 0.659);
    transition: 0.5s;
}

#about {
    margin-top: 50px;
    margin-bottom: 25px;
}

#ab-heading {
    display: flex;
    justify-content: space-evenly;
}

.ab-line {
    height: 1vh;
    width: 40vw;
    border-bottom: 0.7px solid black;
    margin-top: 47px;
}

#ab-txt {
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

#our-story {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

#our-story-txt-span {
    color: rgb(69, 69, 69);
    font-size: 23px;
    margin: 25px;
}

#our-story-txt-p {
    text-wrap: wrap;
    width: 20vw;
    margin-top: 30px;
    color: rgb(69, 69, 69);
}

#our-story-txt h2 {
    margin-top: 35px;
    width: 15vw;
    font-size: 30px;
}

#our-story-img {
    display: flex;
    justify-content: space-evenly;
}

#our-story-img-1 {
    width: 23vw;
    padding: 35px;
    border-radius: 3rem;
}

#our-story-img-2 {
    width: 23vw;
    padding: 35px;
    border-radius: 3rem;
}

#menu {
    margin-top: 25px;
    margin-bottom: 25px;
}

#mn-heading {
    display: flex;
    justify-content: space-evenly;
}

.mn-line {
    height: 1vh;
    width: 40vw;
    border-bottom: 0.7px solid black;
    margin-top: 47px;
}

#mn-txt {
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

#mn-subheading {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mn-p {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    color: rgb(69, 69, 69);
}

#our-sp {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

#speciality{
    padding: 150px;
    padding-top: 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 45px;
    height: auto;
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.cousine-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cousine-name{
    font-size: 30px;
    margin-top: 12px;
}

.cou-des{
    text-align: center;
    margin-top: 10px;
    color: rgb(69, 69, 69);
}

#contact {
    margin-bottom: 25px;
    margin-top: 25px;
}

#cont-heading {
    display: flex;
    justify-content: space-evenly;
}

.cont-line {
    height: 1vh;
    width: 40vw;
    border-bottom: 0.7px solid black;
    margin-top: 47px;
}

#cont-txt {
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
}

#numbers{
    display: flex;
    justify-content: space-evenly;  
}

.num{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.numb{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.numbe{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#locat{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#Locate{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.location{
    padding: 150px;
    padding-top: 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 45px;
    height: auto;
    width: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}